body {

	min-width:480px;
	font-family: 'Open Sans', sans-serif;
}
a:hover{text-decoration: none;}
img{max-width: 100%;height: auto;}
#top-head{
	margin-top:40px;
	margin-bottom:20px;
}
.logo{cursor:pointer;}

.list-menu-head{ position: relative;}
ul.list-menu-head{list-style:none;}
ul.list-menu-head li{display:inline-block;margin:0 13px;}
ul.list-menu-head li a{text-align: center; color:#ccc;text-decoration: none;}
ul.list-menu-head li img{margin:auto; display:block;margin-bottom:2%;}
ul.list-menu-head li img.img-hide {display: none;}

ul.list-menu-head li:hover a,
ul.list-menu-head li.current a{
    color: #0089d1;
}

ul.list-menu-head li:hover img,
ul.list-menu-head li.current img{
    display: none;
}

ul.list-menu-head li:hover img.img-hide,
ul.list-menu-head li.current img.img-hide{
    display: block;
}


/*****************HEAD*****************/

/*Главная подпись*/


.conf{
	min-height:340px;
	background: url("../img/bg-conf.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.conf hr {
	width:55vw;
	border:2px solid #fff;
}
.conf h1 {
	color:#fff;
	font-size: 30px;
	text-align: center;
}
.conf p  {
	color:#fff;
	font-size: 18px;
	text-align: center;
}


/*Форма*/
form{margin-top: 5%;}
form label {color:#0089d1;}
.disabled label {color :#ccc;}
.text-block-form{margin:5%;}
.text-block-form h4 {color:#0089d1; font-size: 18px;}
.text-block-form p { font-size: 15px;}

.wrapper-list-form{
	background: yellow;

	clear:both;

}
.form-group input,.form-group select{background:#f1f6f7;}


.table thead tr th, .table tbody tr td{border:none}
.table tr th img{margin:auto; display:block; }
.table tbody tr td a{text-align: center; }
.table-foot{margin-top:10%;}


ul.list-right-collum{list-style:none; margin-top:5%;}
ul.list-right-collum li img{margin:auto; display:block;}
ul.list-right-collum li p{text-align:center;}
ul.list-right-collum li p{text-align:center; margin-top:10px;}

ul.list-right-collum li p a{color:#ccc;}

ul.list-right-collum .active p a{
	color:#0089d1;
}



.list-right{ position: relative;}
ul.list-right{list-style:none; padding-right:15px; margin-top:15%;}
ul.list-right li{display:block; margin-top:25px;}
ul.list-right li a{color:#ccc; width: 100%; display: block;}
ul.list-right li img{margin:auto; display:block;margin-bottom:2%;}


.form-body{margin-top:2%;}



button[type="submit"]{
	width:100%; 
	background: #f57e20; 
	color:#fff; 
	font-size: 2em; 
	font-weight: 500; 
	margin-top:5%;
	box-shadow:0px 3px 5px 1px #c4c4c4;
	border: 0; 
	text-transform: uppercase;
}



@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.logo img{ margin:auto; display:block;}
	ul.list-menu-head li{display:inline-block;margin:0 10px;}

	ul.list-right li{display:block; margin-top:18px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 780px) {

	ul.list-menu-head li{display:inline-block;margin:0 8px; margin-top:20px; margin-right:5vw;}
}



@media only screen and (max-width : 768px) {
	.logo img{ margin:auto; display:block;}
	ul.list-menu-head li{display:inline-block;margin:0 3px; margin-top:20px; margin-right:2.5vw;}
	ul.list-right{list-style:none; padding-right:10vw; margin-top:5px;}
	ul.list-right li{ margin-right:5px; }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 580px) {

	ul.list-menu-head li{display:inline-block;margin:0 0px; margin-top:20px; margin-right:0.5vw;}
	ul.list-right{list-style:none; padding-right:5vw; margin-top:2px; padding-left:0px;}
	ul.list-right li{ margin-right:0px; }
}

@media only screen and (max-width : 480px) {

	.logo img{ margin:auto; display:block;}
}

/* Обозначения:
[bc] — background-color
[bi] — background-image
[br] — background-repeat
[bp] — background-position
[ba] — background-attachment
*/

.map {
 
	height: 720px;
	margin: 0 -15px;

}

.text {

    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
	
}

input.ng-invalid,
select.ng-invalid {

	border: red solid 1px;

}

/* Simplemodal */
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {height:110px; width:300px; color:#0089d1; background-color:#fff; border:1px solid #444; padding:12px; text-align: center;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:12px; height:12px; display:inline; z-index:3200; position:absolute; top: 10px; right: 10px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:8px;}

/* Timer 14 */
.wrap-timer.wrap-timer-14 {
    display: inline-block;
    width: 250px;
    height: 200px;
    text-align: center;
    line-height: 125px;
    border: solid;
    background: rgba(0, 137, 209, 0.39) url("../img/bg-conf.png") no-repeat;
    float: right;
    margin-top: 50px;
}
.wrap-timer.wrap-timer-14 .head1 {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding-top: 50px;
}
.wrap-timer.wrap-timer-14 .timer {
    display: inline-block;
    font-size: 40px;
    text-align: center;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
}

/* Timer 15 */
.wrap-timer.wrap-timer-15 {
    display: inline-block;
    width: 250px;
    height: 200px;
    text-align: center;
    line-height: 125px;
    border: solid;
    background-color: rgba(0, 137, 209, 0.39);
    float: right;
    margin-top: 50px;
}
.wrap-timer.wrap-timer-15 .head1 {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding-top: 50px;
}
.wrap-timer.wrap-timer-15 .timer {
    display: inline-block;
    font-size: 40px;
    text-align: center;
    line-height: 20px;
    font-weight: 300;
    color: #0089d1;
}


